<div class="speedData">
    <div class="speedsContainer">
        <div class="speedBox">
            <div class="speedLabel">In</div>
            <div class="speedSecondary">{{commonData.radarSpeedData.inMinSpeed}}</div>
            <div class="speed">{{commonData.radarSpeedData.inMaxSpeed}}</div>
        </div>
        <div class="speedBox">
            <div class="speedLabel">Out</div>
            <div class="speedSecondary">{{commonData.radarSpeedData.outMinSpeed}}</div>
            <div class="speed">{{commonData.radarSpeedData.outMaxSpeed}}</div>
        </div>
    </div>
    <div style="float:right"><button ng-click="showConfig()" class="btn btn-primary">Config</button></div>
    <div >
        <h3>History</h3>
        <div>
            <table>
                <thead>
                    <tr><th>Time</th><th>Pitcher</th><th>Max In</th><th>Min In</th><th>Batter</th><th>Max Out</th><th>Max In</th></tr>
                </thead>
                <tr ng-repeat="rsdItem in commonData.radarSpeedDataHistory" class="speedHistory">
                    <td>{{rsdItem.time | date : 'M/d/yy hh:mm:ss'}}</td>
                    <td>{{rsdItem.pitcher}}</td>
                    <td>{{rsdItem.inMaxSpeed}}<i class="icon-large icon-down-arrow"></i></td>
                    <td>{{rsdItem.inMinSpeed}}<i class="icon-large icon-down-arrow"></i></td>
                    <td>{{rsdItem.batter}}</td>
                    <td>{{rsdItem.outMaxSpeed}}<i class="icon-large icon-down-arrow"></i></td>
                    <td>{{rsdItem.outMinSpeed2}}<i class="icon-large icon-down-arrow"></i></td>
                </tr>
            </table>
        </div>
        
    </div>
    
    <div class="config" ng-show="commonData.showConfig">
        <div>
            <div data-accordion data-close-others="oneAtATime">
                <div data-accordion-group data-heading="Validation" data-is-open="true">
                    <!--PdfTemplateForm.$dirty: {{ radarmonitor.$dirty }} <br />
                PdfTemplateForm.$valid: {{ radarmonitor.$valid }}-->
                    <a class="btn btn-sm btn-danger" ng-click="Save()" ng-show="PdfTemplateForm.$dirty">Unsaved</a>
                    <a class="btn btn-sm btn-success" ng-show="!PdfTemplateForm.$dirty">Saved</a>
                    <img ng-hide="!isSaving" src="app/img/spinner.gif" ng-style='{"margin-left":"8px"}' width="24" height="24" alt="" />
                </div>
                <!--<div data-accordion-group data-heading="Actions" data-is-open="true">
                <div id="actions" >
                    <a href="" ng-click="createTeam()">Create Team</a><br />
                    <a href="" ng-click="createGame()">Create Game</a><br />
                    <a href="" ng-click="exportGame()">Export Game</a><br /><br />
                </div>
            </div>-->
                <div data-accordion-group data-heading="Radar Settings" data-is-open="true">

                    <div class="wifidog">
                        <form class="wifidogform" style="display: ;" action="config?act=config" name="wifi_info" method="post">
                            <select id='ssid' name="ssid" onclick='select_click()'>
                                <option value="note">click to select ssid</option>
                            </select>
                            <input type="password" name="password" placeholder="Password" />
                            <input type="hidden" name="admin" placeholder="Your board password" />
                            <input type="button" class='btn' size="15" style="background-color: transparent; border: 0;" onclick="check()" value="OK" />
                        </form>
                    </div>

                    <div>
                        <div ng-hide="commonData.radarConfig.TransmiterControl.value == 1"><a class="btn btn-sm btn-danger" ng-click="radarCommand('TransmiterControl',1)">Off</a>(Click to Turn On)</div>
                        <div ng-show="commonData.radarConfig.TransmiterControl.value == 1"><a class="btn btn-sm btn-success" ng-click="radarCommand('TransmiterControl',0)">On</a> (Click to Turn Off)</div>
                        <!--<div data-toggle-switch data-model="radarPower"></div>-->
                        <img ng-hide="!commonData.isradarCommandPending" src="app/img/spinner.gif" ng-style='{"margin-left":"8px"}' width="24" height="24" alt="" />
                    </div>
                    <div>{{editRadarConfig}}</div>
                    <div ng-hide="editRadarConfig == true">
                        <div>{{commonData.radarConfig.ProductID.value}}</div>
                        <div>Low Speed Threshold:{{commonData.radarConfig.LowSpeedThreshold.value}}</div>
                        <div>High Speed Threshold:{{commonData.radarConfig.HighSpeedThreshold.value}}</div>
                        <div>Left Right Angle:{{commonData.radarConfig.CosignAngle1.value}}</div>
                        <div>Up Down Angle:{{commonData.radarConfig.CosignAngle2.value}}</div>
                        <div>Range:{{commonData.radarConfig.Range.value}}</div>
                        <div>Message Period:{{commonData.radarConfig.MessagePeriod.value}}</div>
                        <div>Auto Clear Delay:{{commonData.radarConfig.AutoClearDelay.value}}</div>
                        <div>Hit Speed Enable:{{commonData.radarConfig.HitSpeedEnable.value}}</div>
                        <div>Target Direction:{{commonData.radarConfig.TargetDirection.value}}</div>
                        <div style="float:right"><a href="" ng-click="editRadarConfig = true">edit</a></div>
                    </div>
                    <div ng-show="editRadarConfig == true">


                        <div>{{commonData.radarConfig.ProductID.value}}</div>
                        <div>Low Speed Threshold:<input style="width:45px" type="number" ng-model="commonData.radarConfig.LowSpeedThreshold.value" ng-change="commonData.radarConfig.LowSpeedThreshold.isDirty = true" /></div>
                        <div>High Speed Threshold:<input style="width:45px" type="number" ng-model="commonData.radarConfig.HighSpeedThreshold.value" ng-change="commonData.radarConfig.HighSpeedThreshold.isDirty = true" /></div>
                        <div>Left Right Angle:<input style="width:45px" type="number" ng-model="commonData.radarConfig.CosignAngle1.value" ng-change="commonData.radarConfig.CosignAngle1.isDirty = true" /></div>
                        <div>Up Down Angle:<input style="width:45px" type="number" ng-model="commonData.radarConfig.CosignAngle2.value" ng-change="commonData.radarConfig.CosignAngle2.isDirty = true" /></div>
                        <div>Range:<input style="width:45px" type="number" ng-model="commonData.radarConfig.Range.value" ng-change="commonData.radarConfig.Range.isDirty = true" /></div>
                        <div>Message Period:<input style="width:45px" type="number" ng-model="commonData.radarConfig.MessagePeriod.value" ng-change="commonData.radarConfig.MessagePeriod.isDirty = true" /></div>
                        <div>Auto Clear Delay:<input style="width:45px" type="number" ng-model="commonData.radarConfig.AutoClearDelay.value" ng-change="commonData.radarConfig.AutoClearDelay.isDirty = true" /></div>
                        <div>Hit Speed Enable:{<input style="width:45px" type="number" ng-model="vradarConfig.HitSpeedEnable.value" ng-change="commonData.radarConfig.HitSpeedEnable.isDirty = true" /></div>
                        <div>Target Direction:<input style="width:45px" type="number" ng-model="commonData.radarConfig.TargetDirection.value" ng-change="commonData.radarConfig.TargetDirection.isDirty = true" />0 Outbound, 1 InBound, 2 Both</div>

                        <div style="float:right"><a href="" ng-click="updateRadarConfig(); editRadarConfig = false;">save</a></div>

                    </div>
                    <div>
                        <div>Battery Voltage: {{commonData.batteryVoltage.batteryVoltage}}</div>
                        <div>{{commonData.batteryVoltage.time | date : 'M/d/yy hh:mm:ss'}}</div>
                    </div>
                </div>
            </div>
            <div style="margin: auto;  width: 100%;border:1px solid red;">&nbsp;</div>
        </div>
    </div>
</div>