<div class="speedData">
    <div class="speedsContainer row">
        <div class="col-sm-12">
            <div class="speedBox col-sm-5">
                <div class="speedLabel">In</div>
                <div class="speedSecondary">{{commonData.radarSpeedData.inMinSpeed | numpading : 1 : 2}}</div>
                <div class="speed">{{commonData.radarSpeedData.inMaxSpeed | numpading : 1: 2}}</div>
            </div>
            <div class="speedBox col-sm-5">
                <div class="speedLabel">Out</div>
                <div class="speedSecondary">{{commonData.radarSpeedData.outMinSpeed | numpading : 1 : 2}}</div>
                <div class="speed">{{commonData.radarSpeedData.outMaxSpeed | numpading : 1 : 2}}</div>
            </div>
            <div class="speedBox col-sm-2 " style="overflow-y:hidden">
                <table class="table table-striped speedBoxHistoryTable">
                    <thead>
                        <tr><th>Time</th><th>In</th><th>Out</th></tr>
                    </thead>
                    <tbody class="speedBoxHistoryTableBody">
                        <tr ng-repeat="rsdItem in commonData.radarSpeedDataHistory">
                            <td>{{rsdItem.time | date : 'hh:mm:ss'}}</td>
                            <td>{{rsdItem.inMaxSpeed}}<i class="icon-large icon-down-arrow"></i></td>
                            <td>{{rsdItem.outMaxSpeed}}<i class="icon-large icon-down-arrow"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clear" />
    <div class="row">
        <div class="col-sm-12">
            <span ng-show="commonData.isConnected"><i class="fa fa-wifi"></i></span><span ng-hide="commonData.isConnected"><i class="fa fa-ban"></i></span>
            <span>{{commonData.batteryVoltage.batteryVoltage | number : 2}}V&nbsp;<i class="fa fa-battery-full"></i></span>
            <!--<i class="fa fa-battery-quarter"></i>
    <i class="fa fa-battery-half"></i>
    <i class="fa fa-battery-three-quarters" aria-hidden="true"></i>
    <i class="fa fa-battery-empty" aria-hidden="true"></i>-->
            <span> | {{commonData.gpsPosition.lat}} / {{commonData.gpsPosition.lon}} </span>
            <span> | {{commonData.lastSpeedDataTimestamp}}</span>
            
                
        </div>
    </div>
    <div ng-hide="commonData.isGameAdmin">
        <div style="float:right"><button ng-click="commonData.isGameAdmin = true" class="btn btn-primary">Login</button></div>
    </div>
    <div ng-show="commonData.isGameAdmin">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <label class="col-sm-3 control-label">Batter</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <label class="col-sm-3 control-label">Pitcher</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div>

                <div class="col-sm-6">
                    
                   
                    <div ng-hide="commonData.batterEdit">
                        <ui-select ng-model="commonData.batter" theme="bootstrap">
                            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in commonData.battersList | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                <small ng-bind-html="item.email | highlight: $select.search"></small>
                            </ui-select-choices>

                        </ui-select>
                        <div class="btn-group" role="group" aria-label="Buttons">
                            <button type="button" class="btn btn-primary" ng-click="batterEdit()">Edit</button>
                            <button type="button" class="btn btn-primary" ng-click="batterAdd()">Add</button>
                        </div>
                    </div>
                    <div ng-show="commonData.batterEdit">
                        <div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" ng-model="commonData.batter.firstName" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" ng-model="commonData.batter.lastName" />
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Buttons">
                            <button type="button" class="btn btn-secondary" ng-click="batterEditCancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="batterEditSave()">Save</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div>
                        <label class="col-sm-3 control-label">Pitcher</label>
                    </div>
                    <div class="clear"></div>
                    <div ng-hide="commonData.pitcherEdit">
                        
                        <ui-select ng-model="commonData.pitcher" theme="bootstrap">
                            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item in commonData.ppitchersList | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                <small ng-bind-html="item.email | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                        <div class="btn-group" role="group" aria-label="Buttons">
                            <button type="button" class="btn btn-primary" ng-click="pitcherEdit()">Edit</button>
                            <button type="button" class="btn btn-primary" ng-click="picherAdd()">Add</button>
                        </div>
                        
                    </div>
                    <div ng-show="commonData.pitcherEdit">
                        <div >
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" ng-model="commonData.pitcher.firstName" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" ng-model="commonData.pitcher.lastName" />
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Buttons">
                            <button type="button" class="btn btn-danger" ng-click="pitcherEditCancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="pitcherEditSave()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                
            </div>
            <div class="col-sm-6">
                <div style="float:right">
                    <button class="btn btn-primary" ng-click="gameEdit()">Edit Game</button>
                    <button ng-click="showConfig()" class="btn btn-secondary">Config</button>
                    <button ng-click="commonData.isGameAdmin = false" class="btn btn-danger">Logout</button>

                </div>
            </div>
        </div>

    </div>
    <div class="radarEmulator" ng-show="commonData.isRadarEmulator">

        In:<input ng-model="commonData.radarEmulator.data.in" type="text" /> Out: <input ng-model="commonData.radarEmulator.data.out" type="text" /> <button class="btn btn-danger" ng-click="radarEmulatorSend()">Go</button>
    </div>
    <div class="clear" />
    <div class="row">
        <h3>History</h3>
        <div class="col-sm-12">
            <table class="table table-striped speedHistoryTable">
                <thead>
                    <tr><th>Time</th><th>Pitcher</th><th>Max In</th><th>Min In</th><th>Batter</th><th>Max Out</th><th>Max In</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rsdItem in commonData.radarSpeedDataHistory">
                        <td>{{rsdItem.time | date : 'M/d/yy hh:mm:ss'}}</td>
                        <td>{{rsdItem.pitcher}}</td>
                        <td>{{rsdItem.inMaxSpeed}}</td>
                        <td>{{rsdItem.inMinSpeed}}</td>
                        <td>{{rsdItem.batter}}</td>
                        <td>{{rsdItem.outMaxSpeed}}</td>
                        <td>{{rsdItem.outMinSpeed}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    
    
    <div class="config" ng-show="commonData.showConfig">
        <div>
            <div class="player" ng-show="commonData.showPlayer">
                <div>Name: {{commonData.player.lastName}}, {{commonData.player.firstName}} </div>
                <div class="btn-group" role="group" aria-label="Buttons">
                    <button type="button" class="btn btn-secondary" ng-click="playerShowDone()">Done</button>
                    <button type="button" class="btn btn-primary" ng-click="playerEdit()">Edit</button>
                </div>
            </div>

            <div class="playerEdit" ng-show="commonData.showPlayerEdit">
                <div>First Name:<input style="width:45px" type="number" ng-model="commonData.player.firstName" /></div>
                <div>Last Name:<input style="width:45px" type="number" ng-model="commonData.player.lastName" /></div>
                <div class="btn-group" role="group" aria-label="Buttons">
                    <button type="button" class="btn btn-secondary" ng-click="playerEditCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="playerEditSave()">Save</button>
                </div>
            </div>

            <div class="team" ng-show="commonData.showTeam">
                <div>Name: {{commonData.team.name}}</div>
                <div class="btn-group" role="group" aria-label="Buttons">
                    <button type="button" class="btn btn-secondary" ng-click="teamShowDone()">Done</button>
                    <button type="button" class="btn btn-primary" ng-click="teamEdit()">Edit</button>
                </div>
            </div>

            <div class="teamEdit" ng-show="commonData.showTeamEdit">
                <div>Team Name:<input style="width:45px" type="number" ng-model="commonData.team.name" ng-change="commonData.team.isDirty = true" /></div>
                <div class="btn-group" role="group" aria-label="Buttons">
                    <button type="button" class="btn btn-secondary" ng-click="teamEditCancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="teamEditSave()">Save</button>
                </div>
            </div>
            <div class="wifidog">
                <form class="wifidogform" style="display: ;" action="config?act=config" name="wifi_info" method="post">
                    <select id='ssid' name="ssid" onclick='select_click()'>
                        <option value="note">click to select ssid</option>
                    </select>
                    <input type="password" name="password" placeholder="Password" autocomplete="wifi_pwd" />
                    <input type="hidden" name="admin" placeholder="Your board password" />
                    <input type="button" class='btn' size="15" style="background-color: transparent; border: 0;" onclick="check()" value="OK" />
                </form>
            </div>

            <div class="editGameTemplate">

            </div>

            <div class="radarConfig" ng-show="commonData.showRadarConfig">
                <div>
                    <div ng-hide="commonData.radarConfig.TransmiterControl.value == 1"><a class="btn btn-sm btn-danger" ng-click="radarCommand('TransmiterControl',1)">Off</a>(Click to Turn On)</div>
                    <div ng-show="commonData.radarConfig.TransmiterControl.value == 1"><a class="btn btn-sm btn-success" ng-click="radarCommand('TransmiterControl',0)">On</a> (Click to Turn Off)</div>
                    <!--<div data-toggle-switch data-model="radarPower"></div>-->
                    <img ng-hide="!commonData.isradarCommandPending" src="app/img/spinner.gif" ng-style='{"margin-left":"8px"}' width="24" height="24" alt="" />
                </div>

                <div ng-hide="commonData.editRadarConfig == true">
                    <div>Radar Model: {{commonData.radarConfig.ProductID.value}}</div>
                    <div>Low Speed Threshold:{{commonData.radarConfig.LowSpeedThreshold.value}}</div>
                    <div>High Speed Threshold:{{commonData.radarConfig.HighSpeedThreshold.value}}</div>

                    <div>Left Right Angle:{{commonData.radarConfig.CosignAngle1.value}}</div>
                    <div>Up Down Angle:{{commonData.radarConfig.CosignAngle2.value}}</div>
                    <div>Range:{{commonData.radarConfig.Range.value}}</div>
                    <div>Message Period:{{commonData.radarConfig.MessagePeriod.value}}</div>
                    <div>Auto Clear Delay:{{commonData.radarConfig.AutoClearDelay.value}}</div>
                    <div>Hit Speed Enable:{{commonData.radarConfig.HitSpeedEnable.value}}</div>
                    <div>Target Direction:{{commonData.radarConfig.TargetDirection.value}}</div>
                    <div style="float:right"><a class="btn btn-sm btn-success" href="" ng-click="commonData.editRadarConfig = true">edit</a></div>
                </div>
                <div ng-show="commonData.editRadarConfig == true">


                    <div>{{commonData.radarConfig.ProductID.value}}</div>
                    <div>Low Speed Threshold:<input style="width:45px" type="number" ng-model="commonData.radarConfig.LowSpeedThreshold.value" ng-change="commonData.radarConfig.LowSpeedThreshold.isDirty = true" /></div>
                    <div>High Speed Threshold:<input style="width:45px" type="number" ng-model="commonData.radarConfig.HighSpeedThreshold.value" ng-change="commonData.radarConfig.HighSpeedThreshold.isDirty = true" /></div>
                    <div>Left Right Angle:<input style="width:45px" type="number" ng-model="commonData.radarConfig.CosignAngle1.value" ng-change="commonData.radarConfig.CosignAngle1.isDirty = true" /></div>
                    <div>Up Down Angle:<input style="width:45px" type="number" ng-model="commonData.radarConfig.CosignAngle2.value" ng-change="commonData.radarConfig.CosignAngle2.isDirty = true" /></div>
                    <div>Range:<input style="width:45px" type="number" ng-model="commonData.radarConfig.Range.value" ng-change="commonData.radarConfig.Range.isDirty = true" /></div>
                    <div>Message Period:<input style="width:45px" type="number" ng-model="commonData.radarConfig.MessagePeriod.value" ng-change="commonData.radarConfig.MessagePeriod.isDirty = true" /></div>
                    <div>Auto Clear Delay:<input style="width:45px" type="number" ng-model="commonData.radarConfig.AutoClearDelay.value" ng-change="commonData.radarConfig.AutoClearDelay.isDirty = true" /></div>
                    <div>Hit Speed Enable:<input style="width:45px" type="number" ng-model="commonData.radarConfig.HitSpeedEnable.value" ng-change="commonData.radarConfig.HitSpeedEnable.isDirty = true" /></div>
                    <div>Target Direction:<input style="width:45px" type="number" ng-model="commonData.radarConfig.TargetDirection.value" ng-change="commonData.radarConfig.TargetDirection.isDirty = true" />0 Outbound, 1 InBound, 2 Both</div>
                    <div style="float:right"><a class="btn btn-sm btn-success" href="" ng-click="updateRadarConfig(); commonData.editRadarConfig = false;">Save</a></div>
                </div>
                <div>
                    <div>Battery Voltage: {{commonData.batteryVoltage.batteryVoltage}}</div>
                    <div>{{commonData.batteryVoltage.time | date : 'M/d/yy hh:mm:ss'}}</div>
                </div>
                <div id="googleMap"></div>
            </div>
        </div>
        </div>
    </div>

</div>
